# editorconfig for C++ projects
root = true

# all C++ files
[*.{h,hpp,c,cpp,inl,hxx,cxx}]

# use spaces for indentation
indent_style = space

# set indentation size to 4 spaces
indent_size = 4

# use UTF-8 character encoding
charset = utf-8

# insert a newline character at the end of the file
insert_final_newline = true

# remove trailing whitespace at the end of each line
trim_trailing_whitespace = true

# define tab width to be 4 spaces
tab_width = 4

# enforce a maximum line length of 80 characters
max_line_length = 80

# set the order of include statements
include_order = none

# sort include statements alphabetically
include_sort_order = true

# group include statements by project-level headers, system-level headers,
# and then other headers
include_categories = "project,system,none"

# add a new line after each include block
include_block_padding = 1

# define the C++ standard to be used
standard = c++20
